@tailwind base;
@tailwind components;
@tailwind utilities;

.font-header {
  font-family: var(--font-teko);
}

body {
  font-family: var(--font-sans);
}

.container {
  @apply mx-auto max-w-screen-xl;
}

.bg-hero {
  position: relative;
  z-index: -1;
}

.bg-hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @apply bg-gradient-to-t from-black/60 to-transparent;
  z-index: -1;
}

.heading-line {
  position: relative;
}

.heading-line::after {
  content: "";
  bottom: -0.75rem;
  left: 12.5%;
  position: absolute;
  width: 75%;
  height: 0.3rem;
  background: rgb(234, 179, 8);
}

.bg-robot {
  @apply relative z-10;
}

.bg-robot::after {
  content: "";
  @apply absolute top-1/4 -z-10 h-full w-full bg-[url(/robot-putih.png)] bg-no-repeat;
}
